<html>
  <head>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script> %>
    <script src="/build/audioscape-1.js"></script>
    <style>
        body{
        margin: 0;
          height: 100%;
        }


        canvas {
          position:fixed;
          min-height: 100%;
          top:0;
          left:0;
        }
    </style>
  </head>
  <body>
  <canvas id="canvas"></canvas>
  <p style="text-align:center">Click the screen!</p>
  </body>
</html>
