<html>
  <head>
    <script src="/build/index.js"></script>
    <style>
        body{
        margin: 0;
          height: 100%;
        }


        canvas {
          position:fixed;
          min-height: 100%;
          top:0;
          left:0;
        }
    </style>
  </head>
  <body>
  <canvas id="canvas"></canvas>
  <p style="text-align:center">Click the screen!</p>
  </body>
</html>
